/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.




*/

/* line 1, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
option[disabled] {
  display: none;
}

/* line 5, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.hidden {
  display: none;
}

/* line 9, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.align_left {
  text-align: left;
}

/* line 13, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.align_right {
  text-align: right;
}

/* line 17, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.align_center {
  text-align: center;
}

/* line 21, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.align_justify {
  text-align: justify;
}

/* line 25, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.small_text {
  font-size: 0.9em;
}

/* line 29, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.light_text {
  color: #999999;
}

/* line 33, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.strong_text {
  font-weight: bold;
}

/* line 37, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.float_right {
  float: right;
}

/* line 41, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.float_left {
  float: left;
}

/* line 45, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.padding_0 {
  padding: 0;
}

/* line 49, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.padding_left_5 {
  padding-left: 5px;
}

/* line 53, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.padding_right_10 {
  padding-right: 10px;
}

/* line 57, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.padding_bottom_5 {
  padding-bottom: 5px;
}

/* line 61, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.padding_bottom_10 {
  padding-bottom: 10px;
}

/* line 65, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.padding_bottom_20 {
  padding-bottom: 20px;
}

/* line 69, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.padding_bottom_30 {
  padding-bottom: 30px;
}

/* line 73, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.padding_top_10 {
  padding-top: 10px;
}

/* line 77, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.padding_top_15 {
  padding-top: 15px;
}

/* line 81, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.padding_top_30 {
  padding-top: 30px;
}

/* line 85, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.margin_bottom_10 {
  margin-bottom: 10px;
}

/* line 89, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.margin_bottom_30 {
  margin-bottom: 30px;
}

/* line 93, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.margin_top_10 {
  margin-top: 10px;
}

/* line 97, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_general.css.scss */
.margin_right_30 {
  margin-right: 30px;
}
/* line 1, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
body {
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

/* line 6, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

/* line 10, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
p {
  margin: 0;
  padding: 0 0 10px 0;
}

/* line 15, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
img {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 20, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
form {
  margin: 0;
  padding: 0;
}

/* line 24, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 29, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
ul,
ol {
  margin: 0;
  padding: 0;
}

/* line 34, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
ul {
  list-style-type: none;
}

/* line 38, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
li {
  margin: 0;
  padding: 0;
}

/* line 42, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.clearing {
  clear: both;
  height: 1px;
  margin: 0 0 -1px 0;
  padding: 0;
}

/* line 49, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
#top_of_page {
  cursor: pointer;
  left: 96%;
  position: fixed;
  top: 100%;
  font-size: 28px;
}

/* @group Base */
/* line 58, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container {
  font-size: 13px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 65, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container .chzn-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  z-index: 1010;
}

/* @end */
/* @group Single Chosen */
/* line 81, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-single .chzn-single {
  background-color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -ms-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #aaaaaa;
  -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 23px;
  line-height: 24px;
  padding: 0 0 0 8px;
  color: #444444;
  text-decoration: none;
}

/* line 110, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-single .chzn-default {
  color: #999;
}

/* line 113, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-single .chzn-single span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 122, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-single .chzn-single abbr {
  display: block;
  position: absolute;
  right: 26px;
  top: 6px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url("chosen-sprite.png") right top no-repeat;
}

/* line 132, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-single .chzn-single abbr:hover {
  background-position: right -11px;
}

/* line 135, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-single .chzn-single div {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}

/* line 143, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-single .chzn-single div b {
  background: url("chosen-sprite.png") no-repeat 0 0;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 149, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-single .chzn-search {
  padding: 3px 4px;
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010;
}

/* line 156, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-single .chzn-search input {
  background: #fff url("chosen-sprite.png") no-repeat 100% -22px;
  background: url("chosen-sprite.png") no-repeat 100% -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url("chosen-sprite.png") no-repeat 100% -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url("chosen-sprite.png") no-repeat 100% -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url("chosen-sprite.png") no-repeat 100% -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url("chosen-sprite.png") no-repeat 100% -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url("chosen-sprite.png") no-repeat 100% -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #aaa;
  font-family: sans-serif;
  font-size: 1em;
}

/* line 171, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-single .chzn-drop {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* @end */
/* line 181, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-single-nosearch .chzn-search input {
  position: absolute;
  left: -9000px;
}

/* @group Multi Chosen */
/* line 187, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-multi .chzn-choices {
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background-image: -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
}

/* line 204, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none;
}

/* line 208, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

/* line 213, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-multi .chzn-choices .search-field input {
  color: #666;
  background: transparent !important;
  border: 0 !important;
  font-family: sans-serif;
  font-size: 100%;
  height: 15px;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 228, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-multi .chzn-choices .search-field .default {
  color: #999;
}

/* line 231, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-multi .chzn-choices .search-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  border: 1px solid #aaaaaa;
  line-height: 13px;
  padding: 3px 20px 3px 5px;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default;
}

/* line 257, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #d4d4d4;
}

/* line 260, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url("chosen-sprite.png") right top no-repeat;
}

/* line 270, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: right -11px;
}

/* line 273, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}

/* @end */
/* @group Results */
/* line 279, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 288, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}

/* line 292, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container .chzn-results li {
  display: none;
  line-height: 15px;
  padding: 5px 6px;
  margin: 0;
  list-style: none;
}

/* line 299, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
}

/* line 303, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container .chzn-results .highlighted {
  background-color: #3875d7;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  color: #fff;
}

/* line 314, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal;
}

/* line 318, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}

/* line 321, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
  display: list-item;
}

/* line 325, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}

/* line 330, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container .chzn-results .group-option {
  padding-left: 15px;
}

/* line 333, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}

/* line 336, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container .chzn-results-scroll {
  background: white;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px;
  /* This should by dynamic with js */
  z-index: 1;
}

/* line 344, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container .chzn-results-scroll span {
  display: inline-block;
  height: 17px;
  text-indent: -5000px;
  width: 9px;
}

/* line 350, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container .chzn-results-scroll-down {
  bottom: 0;
}

/* line 353, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container .chzn-results-scroll-down span {
  background: url("chosen-sprite.png") no-repeat -4px -3px;
}

/* line 356, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container .chzn-results-scroll-up span {
  background: url("chosen-sprite.png") no-repeat -22px -3px;
}

/* @end */
/* @group Active  */
/* line 362, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-active .chzn-single {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
}

/* line 369, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-active .chzn-single-with-drop {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  -o-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  background-color: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -ms-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 390, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-active .chzn-single-with-drop div {
  background: transparent;
  border-left: none;
}

/* line 394, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-active .chzn-single-with-drop div b {
  background-position: -18px 1px;
}

/* line 397, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-active .chzn-choices {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
}

/* line 404, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important;
}

/* @end */
/* @group Disabled Support */
/* line 410, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-disabled {
  cursor: default;
  opacity: 0.5 !important;
}

/* line 414, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-disabled .chzn-single {
  cursor: default;
}

/* line 417, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @group Right to Left */
/* line 422, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-rtl {
  text-align: right;
}

/* line 423, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-rtl .chzn-single {
  padding: 0 8px 0 0;
  overflow: visible;
}

/* line 424, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-rtl .chzn-single span {
  margin-left: 26px;
  margin-right: 0;
  direction: rtl;
}

/* line 426, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-rtl .chzn-single div {
  left: 3px;
  right: auto;
}

/* line 427, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-rtl .chzn-single abbr {
  left: 26px;
  right: auto;
}

/* line 431, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-rtl .chzn-choices .search-field input {
  direction: rtl;
}

/* line 432, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-rtl .chzn-choices li {
  float: right;
}

/* line 433, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-rtl .chzn-choices .search-choice {
  padding: 3px 5px 3px 19px;
  margin: 3px 5px 3px 0;
}

/* line 434, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-rtl .chzn-choices .search-choice .search-choice-close {
  left: 4px;
  right: auto;
  background-position: right top;
}

/* line 435, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-rtl.chzn-container-single .chzn-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}

/* line 436, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-rtl .chzn-results .group-option {
  padding-left: 0;
  padding-right: 15px;
}

/* line 437, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-rtl.chzn-container-active .chzn-single-with-drop div {
  border-right: none;
}

/* line 438, /home/dilkhush/workspace/perfect/app/assets/stylesheets/a_shared.css.scss */
.chzn-rtl .chzn-search input {
  background: #fff url("chosen-sprite.png") no-repeat -38px -22px;
  background: url("chosen-sprite.png") no-repeat -38px -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url("chosen-sprite.png") no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url("chosen-sprite.png") no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url("chosen-sprite.png") no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url("chosen-sprite.png") no-repeat -38px -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url("chosen-sprite.png") no-repeat -38px -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  padding: 4px 5px 4px 20px;
  direction: rtl;
}

/* @end */
/*====== pagination ======*/
/* line 5, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/containers.css.scss */
div.pagination_container div.pagination {
  font-size: 1em;
  margin: 0;
  padding: 0 0 42px 0;
  text-align: right;
}
/* line 11, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/containers.css.scss */
div.pagination_container div.pagination a,
div.pagination_container div.pagination a:link,
div.pagination_container div.pagination a:visited,
div.pagination_container div.pagination a:active {
  background: #E9E9E9 url(tool/containers/pagination_container/pagination_background.png) repeat-x left top;
  border-color: #DDDDDD #8F99A5 #8F99A5 #DDDDDD;
  border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-style: solid;
  border-width: 1px;
  color: #606060;
  margin: 2px 3px;
  padding: 3px 6px 3px 6px;
  text-decoration: none;
  text-shadow: 0 1px #FFFFFF;
}
/* line 29, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/containers.css.scss */
div.pagination_container div.pagination a:hover {
  background: #B7C190;
  border-color: #DDDDDD #AFAFAF #AFAFAF #DDDDDD;
  color: #FFFFFF;
}
/* line 35, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/containers.css.scss */
div.pagination_container div.pagination em.current {
  background: #E9E9E9 url(tool/containers/pagination_container/pagination_background.png) repeat-x left top;
  border-color: #EEEEEE #BBBBBB #BBBBBB #EEEEEE;
  border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-style: solid;
  border-width: 1px;
  color: #BBBBBB;
  margin: 2px 3px;
  padding: 3px 6px 3px 6px;
  text-decoration: none;
  text-shadow: 0 1px #FFFFFF;
}
/* line 50, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/containers.css.scss */
div.pagination_container div.pagination span.disabled {
  background: #E9E9E9 url(tool/containers/pagination_container/pagination_background.png) repeat-x left top;
  border-color: #EEEEEE #BBBBBB #BBBBBB #EEEEEE;
  border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-style: solid;
  border-width: 1px;
  color: #BBBBBB;
  margin: 2px 3px;
  padding: 3px 6px 3px 6px;
  text-decoration: none;
  text-shadow: 0 1px #FFFFFF;
}

/*====== end pagination ======*/
/* line 1, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/layout.css.scss */
body {
  background: #E4E4E4;
  color: #333;
  font-family: helvetica, arial, sans-serif;
  font-size: 0.9em;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

/* General */
/* line 12, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/layout.css.scss */
p {
  margin: 0;
  padding: 0 0 10px 0;
}

/* line 17, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/layout.css.scss */
ol {
  margin: 0;
  padding: 0 0 10px 30px;
}

/* end General */
/* Links */
/* line 25, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/layout.css.scss */
a,
a:link,
a:visited,
a:active {
  color: #007CD0;
  text-decoration: none;
}

/* line 33, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/layout.css.scss */
a:hover {
  text-decoration: underline;
}

/* Links */
/* Heading */
/* line 40, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/layout.css.scss */
h1 {
  padding: 0 0 15px 0;
  margin: 0;
}

/* line 45, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/layout.css.scss */
h1.sub {
  padding: 25px 0 15px 0;
  margin: 0;
}

/* line 50, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/layout.css.scss */
h2 {
  padding: 25px 0 7px 0;
  margin: 0;
}

/* line 55, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/layout.css.scss */
h3 {
  margin: 10px 0 4px 0;
  padding: 0;
}

/* line 60, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/layout.css.scss */
h4 {
  margin: 7px 0 3px 0;
  padding: 0;
}

/* end Heading */
/* line 67, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/layout.css.scss */
#outer_container {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px #999999;
  margin: auto;
  width: 960px;
  padding: 20px 30px 10px 30px;
  text-align: left;
  -moz-border-radius: 0.5em;
  -moz-box-shadow: 0px 0px 5px #999999;
  -webkit-border-radius: 0.5em;
  -webkit-box-shadow: 0px 0px 5px #888888;
}

/* line 83, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/layout.css.scss */
#report_container p {
  word-wrap: break-word;
}

/* line 88, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/layout.css.scss */
table {
  width: 100%;
}
/* line 91, /home/dilkhush/workspace/perfect/app/assets/stylesheets/profile_admin/layout.css.scss */
table tr td {
  padding: 2px 5px;
}
